In [1]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("V:/Datasets/binning.csv")

In [7]:
df.head()

       Name  PER
0      vasu  100
1  raghavan   45
2      babu   67
3      devi   35
4    sankar   12

In [8]:
bins = [0,25,50,75,100]

In [9]:
group_name = ['low','Average','good','Brilliant']

In [ ]:
df['grade'] = pd.cut(df['PER'], bins, labe)